<!-- info section -->
<section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Us
            </h5>
            <div>
              <div class="img-box">
                <img src="assets/location-white.png" width="18px" alt="">
              </div>
              <p>
                L-450, Sec-12 Pratap Vihar Ghaziabad 
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="assets/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                +91 7042471751
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="assets/envelope-white.png" width="18px" alt="">
              </div>
              <p>
                invictarasalotions&#64;gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              IT Consulting, Software Development, Web & Mobile Apps, Cloud Solutions, Cybersecurity, Data Analytics, Infrastructure Management.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Latest News
            </h5>
            <div class="Info_container">

              <div class="d-flex flex-row g-2">
                 <img src="https://images.unsplash.com/photo-1712546852197-b279a870c926?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyM3x8fGVufDB8fHx8fA%3D%3D" alt="">
                <div>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure sunt excepturi hic inventore illo enim.
                  </p>
                  <span>Oct, 16,2019 Admin 19</span>
                </div>
                
                 
              </div>
              <div>
                <img src="https://images.unsplash.com/photo-1712546852197-b279a870c926?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyM3x8fGVufDB8fHx8fA%3D%3D" alt="">
                <div>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure sunt excepturi hic inventore illo enim.
                  </p>
                  <span>Oct, 16,2019 Admin 19</span>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="assets/fb.png" alt="">
              </a>
              <a href="">
                <img src="assets/twitter.png" alt="">
                
              </a>
              <a href="">
                <img src="assets/linkedin.png" alt="">
              </a>
              <a href="">
                <img src="assets/youtube.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p class="text-center">
      &copy; 2020 All Rights Reserved By
      <a href="https://html.design/">invictara salotions</a>
      Developed By <a href="https://themewagon.com">Er Mohd Danish</a>
    </p>
  </section>
  <!-- footer section -->
