<header class="header" id="header">
    <nav class="navbar container">
       <a class="brand">INVICTARA <span>Solutions</span> </a>
       <div class="burger" id="burger">
          <span class="burger-line"></span>
          <span class="burger-line"></span>
          <span class="burger-line"></span>
       </div>
       <div class="menu" id="menu">
          <ul class="menu-inner">
             <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
             <li class="menu-item"><a href="#" class="menu-link">Feature</a></li>
             <li class="menu-item"><a href="#" class="menu-link">Product</a></li>
             <li class="menu-item"><a href="#" class="menu-link">Support</a></li>
          </ul>
       </div>
       <a href="#" class="menu-block">Discover</a>
    </nav>
 </header>