.brand {
    position: relative;

    span {
        font-size: 12px;
        position: absolute;
        bottom: -8px;
        right: 10%;
    }
}
.header{
    background-color: rgb(41 39 39 / 50%);
    backdrop-filter: blur(10px);
}