<section class="work_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          CREATIVE WORKS
        </h2>
        <p>
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation
        </p>
      </div>
      <div class="work_container layout_padding2">
        <div class="box b-1">
          <img src="assets/w-1.png" alt="">
        </div>
        <div class="box b-2">
          <img src="assets/w-2.png" alt="">

        </div>
        <div class="box b-3">
          <img src="assets/w-3.png" alt="">

        </div>
        <div class="box b-4">
          <img src="assets/w-4.png" alt="">

        </div>
      </div>
    </div>
  </section>
