.target_section {
    background-image: url(/src/assets/target-bg.jpg);
    background-size: cover;
    color: #ffffff;
    text-align: center;
  }
  
  .target_section .detail-box {
    margin: 30px 0;
  }
  
  .target_section h2 {
    font-weight: bold;
  }
  
  .target_section h5 {
    font-size: 18px;
    font-weight: 500;
  }
  