<main class="main">
    <section class="section banner banner-section">
       <div class="container banner-column">
         <div class="banner-image">
            <img src="assets/room.png" alt="banner">
         </div>
          <div class="banner-inner">
             <h1 class="heading-xl">Elevating Brands with Custom Apps & Websites.</h1>
             <p class="paragraph">
               Elevate your brand with our custom apps & websites. Let's bring your digital vision to life together!
             </p>
             <button class="btn btn-darken btn-inline">
                Our Products<i class="bx bx-right-arrow-alt"></i>
             </button>
          </div>
          <div class="banner-links">
             <a><img src="assets/facebook.png" alt=""></a>
             <a><img src="assets/instagram.png" alt=""></a>
             <a><img src="assets/twitter.png" alt=""></a>
             <a><img src="assets/youtube.png" alt=""></a>
          </div>
       </div>
    </section>
  
 </main>
 <!-- <app-dosection></app-dosection> -->
 <app-who-we-are-sec></app-who-we-are-sec>
 <app-work-section ></app-work-section>
 <!-- <app-client-section></app-client-section> -->
 <app-target-section></app-target-section>
 <app-contact-section></app-contact-section>